/*Fonts*/

@font-face {
  font-family: Panton;
  src: url(../fonts/Panton-Regular.woff);
}

@font-face {
  font-family: PantonBold;
  src: url(../fonts/Panton-Bold.woff);
}

$black: #000000;
$white: #ffffff;
$blue: #003472;
$lblue: #008bbf;
$green: #008c45;
$yellow: #ffca4f;
$red: #ff0000;
$gray: #4d4d4d;
$mgray: #666666;
$bgray: #c4c4c4;
$lgray: #e6e6e6;

$nav-width: 100%;

/* Common styles */

/*---------------- Animation ----------------*/

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.buzz-out:hover {
  -webkit-animation-name: hvr-buzz-out;
  -moz-animation-name: hvr-buzz-out;
  -o-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

}

.fadein-left {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.fadein-right {
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.fadein-up {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.fadein-down {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

@media (min-width: 1200px) {
  .seven-cols {
    .col-md-1,
    .col-sm-1,
    .col-lg-1 {
      width: 14.2857142%;
      *width: 14.2857142%;
    }
    img {
      max-height: 75px;
    }
  }
  .six-cols {
    .col-md-1,
    .col-sm-1,
    .col-lg-1 {
      width: 16.6666667%;
      *width: 16.6666667%;
    }
    img {
      max-height: 75px;
    }
  }
  .five-cols {
    .col-md-1,
    .col-sm-1,
    .col-lg-1 {
      width: 20%;
      *width: 20%;
    }

  }
}

@media (min-width: 992px) {
  .seven-cols {
    .col-md-1,
    .col-sm-1,
    .col-lg-1 {
      width: 14.2857142%;
      *width: 14.2857142%;
    }
    img {
      max-height: 75px;
    }
  }
  .six-cols {
    .col-md-1,
    .col-sm-1,
    .col-lg-1 {
      width: 16.6666667%;
      *width: 16.6666667%;
    }
    img {
      max-height: 75px;
    }
  }
  .five-cols {
    .col-md-1,
    .col-sm-1,
    .col-lg-1 {
      width: 20%;
      *width: 20%;
    }

  }
}

/* 14% = 100% (full-width row) divided by 7 */

%col-grid {
  float: left;
}

.col-1 {
  width: $nav-width/16;
  @extend %col-grid;
}

.col-2 {
  width: $nav-width/16*2;
  @extend %col-grid;
}

.col-3 {
  width: $nav-width/16*3;
  @extend %col-grid;
}

.col-4 {
  width: $nav-width/16*4;
  @extend %col-grid;
}

.col-5 {
  width: $nav-width/16*5;
  @extend %col-grid;
}

.col-6 {
  width: $nav-width/16*6;
  @extend %col-grid;
}

.col-7 {
  width: $nav-width/16*7;
  @extend %col-grid;
}

.col-8 {
  width: $nav-width/16*8;
  @extend %col-grid;
}

.col-9 {
  width: $nav-width/16*9;
  @extend %col-grid;
}

.col-10 {
  width: $nav-width/16*10;
  @extend %col-grid;
}

.col-11 {
  width: $nav-width/16*11;
  @extend %col-grid;
}

.col-12 {
  width: $nav-width/16*12;
  @extend %col-grid;
}

.col-13 {
  width: $nav-width/16*13;
  @extend %col-grid;
}

.col-14 {
  width: $nav-width/16*14;
  @extend %col-grid;
}

.col-15 {
  width: $nav-width/16*15;
  @extend %col-grid;
}

.col-16 {
  width: $nav-width;
  @extend %col-grid;
}

ul {
  list-style-type: none;
}

a {
  color: $blue;
}

img {
  width: 100%;
}

* {
  margin: 0;
  outline: none;
  padding: 0;
  transition: all .1s ease;
}

.yellow-bg {
  background: $yellow;
  color: $black;
  padding: 5px 7px;
}

.lblue-bg {
  background: $lblue;
  color: $white;
  padding: 10px;
}

.green-bg {
  background: $green !important;
}

.lgray-bg {
  background: $lgray;
  border: 1px solid $bgray;
}

.white-bg {
  background: $white;
}

.border-bottom {
  border-bottom: 1px solid $lgray;
}

.border-bottom-gray {
  border-bottom: 1px solid $gray;
}

.blue-bg {
  background: $blue;
  color: $white;
  li {
    list-style: disc;
    &:hover {
      color: $yellow;
    }
    a {
      color: $white;
      &:hover {
        color: $yellow;
        text-decoration: none;
      }
    }

  }
}

i.flaticon-certificate {
  color: $yellow;
}

.vertical-text {
  transform: rotate(270deg);
  //transform-origin: left bottom 0;
  //transform-origin: 55% 90%;
  transform-origin: 80% 120%;
  color: $blue;
  font-weight: bold;
  margin: 0;
}

.site-h1 {
  color: $blue;
  margin: 0 0 30px 0;
}

.highlighted {
  color: $red;
}

.fl-left {
  text-align: left;
  float: left;
  display: inherit;
}

.fl-right {
  text-align: right;
  display: inherit;
}

.no-float {
  float: none;
  margin: 0 auto;
}

.inline-element {
  display: inline-block;
}

.text-bold {
  font-weight: bold;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-innercase {
  text-transform: inherit;
}

.margin-b {
  margin-bottom: 50px;
}

.l-margin {
  margin-left: 15px;
}

.small-b-margin {
  margin-bottom: 10px;
}

.small-v-margin {
  margin: 10px 0;
}

.small-t-margin {
  margin-top: 25px;
}

.no-padding {
  padding: 0;
}

.h-padding {
  padding: 0 20px;
}

.no-margin {
  margin: 0;
}

.v-margin {
  margin: 30px 0;
}

.b-margin {
  margin-bottom: 30px;
}

.t-margin {
  margin-top: 30px;
}

.v-padding {
  padding: 20px 0;
}

.attributes {
  font-size: 12px;
  p {
    margin: 0;
  }
}

.link-separator {
  margin: 0 15px;
}

button {
  padding: 6px 20px;
  background: $blue;
  color: $white;
  font-weight: bold;
  border: 1px solid $lblue;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.product-side-button {
  background: $yellow;
  text-transform: lowercase;
  padding: 5px 15px;
  color: $black;
  border: none;
  margin-top: 10px;
  &:hover {
    background: #fbb208;

  }
}

button.gray-button {
  background: $lgray;
  color: $gray;
  font-weight: bold;
  border: 1px solid $gray;
  text-transform: none;
  margin-right: 15px;
  &:hover {
    color: $white;
    background: $gray;
  }
}

button.cart-button {
  width: 100%;
  padding: 10px 20px;
  text-transform: uppercase;
}

button:hover {
  background: $lblue;
}

.breadcrumbs {
  border-bottom: 1px solid $blue;
  .breadcrumb {
    background-color: transparent;
    font-size: 12px;
    color: $gray;
    font-weight: bold;
    outline: none;
    padding: 3px 15px;
  }
  .breadcrumb:hover, .breadcrumb:focus {
    background-color: transparent;
    color: $blue;
    //font-weight: bold;
    outline: none;
    text-decoration: none;
  }
}

/* End Common styles */

/* Inputs */
input {
  padding: 5px;
  color: $black;
  outline: none;
}

.catalog-inputs label {
  margin-right: 15px;
}

.dictionary-button {
  width: 100%;
}

.quantity {
  width: 55px;
  height: 20px;
  padding: 6px 10px;
}

/* checkbox */

.cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid $blue;
  transition: all 0.2s ease;
}

.cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: $white;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: $blue;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}

.cbx span:last-child {
  padding-left: 3px;
}

.cbx:hover span:first-child {
  border-color: $blue;
}

.inp-cbx:checked + .cbx span:first-child {
  background: $blue;
  border-color: $blue;
  animation: wave 0.4s ease;
}

.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}

.inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}

form.shipping-steps {
  input {
    float: left;
    width: 100%;
    margin-bottom: 10px;
  }
  select {
    padding: 7px;
    width: 100%;
    margin-bottom: 10px;
  }
  label {
    display: block;
    clear: both;
    font-size: 14px;
  }
  input[type="radio"], input[type="checkbox"] {
    width: inherit !important;
  }
  .radio {
    label {
      display: inline-block;
    }
  }
}

input::placeholder, textarea::placeholder {
  color: $lgray;
  text-transform: uppercase;
}

div.contact-form {
  display: inline-block;
  input, textarea {
    width: 100%;
    resize: none;
    margin: 2px 0;
    padding: 5px 10px;
    border: 1px solid $lgray;
  }
  input.radio {
    float: left;
    width: 20px;
  }
  label.radio {
    display: inline-block;
    float: left;
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

}

.rating {
  display: inline-block;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
  follow these rules. Every browser that supports :checked also supports :not(), so
  it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}

.rating:not(:checked) > label {
  float: right;
  width: 20px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 150%;
  color: #ddd;
}

.rating-title {
  display: inline-block;
  position: relative;
  bottom: 13px;
  padding: 10px;
  a {
    color: $black;
  }
}

.rating:not(:checked) > label:before {
  content: '★ ';
}

.rating > input:checked ~ label {
  color: $yellow;

}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: $yellow;

}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: $yellow;

}

.rating > label:active {
  position: relative;
  top: 2px;
  left: 2px;
}

.tabs {
  display: table;
  table-layout: fixed;
  width: 100%;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);

  > li {
    transition-duration: .25s;
    display: table-cell;
    list-style: none;
    text-align: center;
    padding: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    color: $mgray;
    background: $lgray;

    &:before {
      z-index: -1;
      position: absolute;
      content: "";
      width: 100%;
      height: 120%;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, .3);
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
      transition-duration: .25s;
      //border-radius: 5px 5px 0 0;
    }

    &:hover {
      &:before {
        -webkit-transform: translateY(70%);
        transform: translateY(70%);
      }
    }

    &.active {
      color: $white;
      background-color: $blue;

      &:before {
        transition-duration: .5s;
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
    }
  }
}

.product-card {
  .tab__content {
    background-color: $lgray;
    position: relative;
    width: 100%;
    //border-radius: 5px;

    > li {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;

      display: none;
      list-style: none;

      .content__wrapper {
        text-align: left;
        //border-radius: 5px;
        width: 100%;
        padding: 10px 5px;
        background-color: $white;
        border: 1px solid $bgray;
      }
    }
  }
}

.tab__content {
  background-color: $lgray;
  position: relative;
  width: 100%;
  //border-radius: 5px;

  > li {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    display: none;
    list-style: none;

    .content__wrapper {
      text-align: center;
      //border-radius: 5px;
      width: 100%;
      padding: 45px 40px 40px 40px;
      background-color: $white;
      border: 1px solid $bgray;
    }
  }
}

.search-wrapper {
  position: relative;
  #search-form {
    margin: 0;
    margin-top: 5px;
    padding: 0;
    button {
      background: $lblue;
      border: 2px solid $white;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      outline: none;
      text-transform: none;
    }
    input {
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      margin-right: 10px;
      width: 100%;
    }
  }
  .search-query {
    padding-right: 3px;
    padding-top: 8px;
    padding-right: 4px \9
  ;
    padding-left: 15px;
    padding-left: 15px \9
  ;
    margin-bottom: 0;
    -webkit-transition: width 0.2s ease-in-out;
    -moz-transition: width 0.2s ease-in-out;
    -o-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
  }
  .search-query:focus + button {
    z-index: 3;
  }
  .search-query:focus {

  }
  i.fa.fa-search {
    color: $black;
  }
}

body {
  font-family: Panton;
  font-size: 14px;
  overflow: hidden;
  color: $mgray;
}

.main-header-wrapper {
  background: $blue;
  color: $white;
  .header-container {
    position: relative;
  }
  .logo {
    padding: 10px 0 0 0;
    z-index: 9999;
  }
  .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: $lblue;
  }

  a {
    color: $white;
  }
  ul.header-menu {
    padding-top: 20px;
    li {
      display: inline-block;
      text-align: center;
      a {
        padding: 13px 15px;
        text-align: center;
        i:before {
          font-size: 30px;
          color: $yellow;
          margin-left: 0;
        }
        p {
          margin: 0;
        }
      }
    }
  }

  .social-buttons-wrapper {
    position: absolute;
    right: 15px;
    top: 0px;
    i {
      width: 26px;
      height: 23px;
      margin: 1px;
      background: $white;
      color: $blue;
      padding: 3px 3px 0px 0px;
      text-align: center;
      vertical-align: sub;
    }
  }
  .navigation {
    padding: 25px 0;
  }
}

.semi-header-wrapper {
  background: $lblue;
  color: $white;
  a {
    color: $white;
  }
  p.tagline {
    font-size: 20px;
    margin-top: 10px;
  }
  li {
    text-align: center;
    text-transform: uppercase;
  }
  i {
    color: $yellow;
  }
  i:before {
    font-size: 20px;
    padding-right: 10px;
    margin-left: 0;
  }
  .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: $blue;
  }
}

section.main-wrapper {
  margin: 35px 0;

  .carousel-inner {
    //width: 75%;
    max-width: 480px;
    padding: 0;
    border: 1px solid #4d4d4d;
  }

  .carousel.slide {
    a {
      font-weight: bold;
      font-size: 18px;
    }
    small {
      font-size: 14px;
      font-weight: normal;
      color: $gray;
    }
  }

  .slider {
    display: inline;
    position: relative;
    padding-left: 10px;
    margin: 20px 0;
    .slider-with-logo {
      margin-top: 20px;
    }

    .product-slider-wrapper {
      padding: 0 20px;
      .owl-item {
        padding: 30px 10px;
        border-left: 1px solid $lgray;
      }
      .owl-item:first-child {
        border-left: none;
      }

    }
    .slider-caption {
      background: #003175;
      width: 260px;
      padding: 8px;
      display: inline-block;
      -webkit-transform: rotate(270deg) translateY(-10px) translateX(-320px);
      -moz-transform: rotate(270deg) translateY(-10px) translateX(-320px);
      -ms-transform: rotate(270deg) translateY(-10px) translateX(-320px);
      -o-transform: rotate(270deg) translateY(-10px) translateX(-320px);
      transform: rotate(270deg) translateY(-10px) translateX(-320px);
      -webkit-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      -o-transform-origin: 0 0;
      transform-origin: 0 0;
      margin: 0;
      line-height: 24px;
      text-align: center;
      h3 {
        margin: 0;
        padding: 4px 40px 4px 6px;
        color: $white;
        font-size: 16px;
        font-weight: bold;
        i {
          color: $yellow;
          position: absolute;
          right: 20px;
          bottom: 8px;
        }
      }
    }

    .slider-caption.slider-caption-wo-icon h3 {
      margin: 0;
      padding: 0 40px 0 6px;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
    }

    .slider-description-with-image {
      position: relative;
      margin: 0;
      top: 50px;
      left: -10px;
      img {
        //width:25%;
      }
      span {
        top: -3px;
        position: relative;
        float: left;
      }
    }
    p.slider-description {
      position: relative;
    }
    p.slider-description:after {
      position: absolute;
      content: '';
      height: 2px;
      top: 20px;
      left: 0;
      width: 100%;
      background: #5586AD;

    }
  }
  .content-banner-wrapper {
    img {
      width: 100%;
    }
  }
  .main-blog-wrapper {
    background: $lgray;
    padding: 0 0 20px 0;
    display: inline-block;
    .blog-item-wrapper {
      background: $white;
      text-align: center;
      .blog-preview-header {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
      }
      .blog-preview-text {
        font-size: 14px;
        color: $mgray;
      }
      .blog-preview-image {
        margin-bottom: 15px;
        img {
          width: 100%;
        }
      }
    }
    h3 {
      text-align: center;
      background: $blue;
      color: $white;
      padding: 7px;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
}

.product-menu {
  ul li a {
    padding: 20px 0;
    font-size: 14px;
  }
  i:before {
    font-size: 35px;
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
    position: relative;
    bottom: 5px;
    color: $blue;
  }
}

.content-banner-image {
  width: 49%;
}

.sidebar-wrapper {
  select {
    width: 100%;
  }
  .banner-wrapper {
    margin-bottom: 20px;
    img.small-fixed {
      width: 100%;
      max-height: 142px;
    }
  }
  .primary-side-menu {
    ul li {
      border-top: 1px dashed $gray;
      a {
        padding: 20px;
        color: $gray;
        display: block;
      }

      i.fa.fa-caret-right {
        margin-right: 8px;
      }
    }
    li:last-child {
      border-bottom: 1px dashed $gray;
    }
  }
  .semi-side-menu {
    border: 1px solid $lgray;
    p {
      text-align: center;
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 0;
      padding: 5px;
    }
    h3 {
      text-align: center;
      background: $blue;
      color: $white;
      padding: 7px;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 18px;
      text-transform: uppercase;
    }
    ul {
      padding: 15px 20px;
    }
    li {
      a {
        color: $gray;
        display: block;
        text-transform: uppercase;
        padding: 4px;
      }
    }
    i.fa.fa-caret-right {
      margin-right: 3px;
    }
  }
}

.pre-footer-wrapper {
  background: $blue;
  color: $white;
  padding: 30px 0;
  text-align: center;
  p {
    font-size: 16px;
    font-weight: bold;
    //margin-top: 15px;
    text-align: center;
    //border-top: 3px solid $yellow;
    padding-top: 10px;
    margin-bottom: 0;
  }

  .simone-icon {
    font-size: 54px;
    //border-bottom: 3px solid $yellow;
    //padding-bottom: 15px;
    margin-top: 0;
    float: left;
    margin-left: 25px;
  }
  img {
    width: 115px;
    min-height: 100px;
  }
  .simone-icon-descr {
    //margin-top: 0;
  }
  a {
    color: $white;
  }

  i {
    &:before {
      font-size: 64px;
      border-bottom: 3px solid $yellow;
      padding-bottom: 15px;
      margin-left: 0;
    }
  }

}

.footer-wrapper {
  background: #33a2cc;
  color: $white;
  padding: 20px 0;
  a {
    color: #c9e6f1;
    font-size: 10px;
    float: left;
    clear: both;
  }
  .newsletter-label {
    color: $blue;
    float: left;
    clear: both;
    font-weight: bold;
    margin-left: 33px;
  }
  input {
    padding: 6px 10px;

    margin-right: 30px;
    border: 1px solid #939393;
    float: left;
    clear: both;
    max-width: 300px;
    width: 300px;
  }
  p {
    font-size: 12px;
  }
}

.post-footer-wrapper {
  background: $gray;
  color: #d0d0d0;
  padding-top: 5px;
  font-size: 11px;
  p {
    color: #d0d0d0;
  }
  a {
    color: #d0d0d0;
  }
  .bottom-menu-wrapper {
    margin-top: 12px;
    li {
      padding: 12px 6px;
      display: inline-block;
    }
    li:first-child {
      border-right: 1px solid #d0d0d0;
      padding: 3px 10px;
    }
    li:last-child {
      border-left: 1px solid #d0d0d0;
      padding: 3px 8px;
    }
  }
  .bottom-payment-menu {
    margin-top: 12px;
    .payment-methods-wrapper {
      display: inline-block;
      float: left;
      i {
        //margin: 0 6px;
        color: $white;
        font-size: 17px;
        padding: 9px 6px;
        display: inline-block;
      }
    }
    ul {
      margin-left: 25px;
      display: block;
      float: left;
      margin-bottom: 0;
      li {
        padding: 12px 6px;
        display: inline-block;
      }
    }
  }
}

.owl-prev {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 25%;
  margin-left: -25px;
  display: block !IMPORTANT;
  border: 0px solid black;
  span {
    font-size: 40px;
    color: #00236E;
  }
}

.owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 25%;
  right: -25px;
  display: block !IMPORTANT;
  border: 0px solid black;
  span {
    font-size: 40px;
    color: #00236E;
  }
}

.owl-prev i, .owl-next i {
  transform: scale(1, 6);
  color: $lgray;
}

#mainCarousel {

  ul.nav.nav-pills li {
    border-bottom: 1px solid #4d4d4d;
    border-right: 1px solid #4d4d4d;
    &:first-child {
      border-top: 1px solid #4d4d4d;
    }
  }
  .nav-pills > li + li {
    margin-left: 0;
  }

  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #008bbf;
  }
  .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #008bbf;
  }
  .nav {
    background: $lgray;
    li.active {
      a {
        color: $white;
      }
      small {
        color: $white;
      }
    }
    a {
      border-radius: 0px;
      color: #008bbf;
      padding: 8px 15px;
      small {
        display: block;
        font-size: 13px;
        color: $gray;
      }
    }
    li:hover {
      background: #008bbf !important;
      a {
        color: $white !important;
      }
      small {
        color: $white !important;
      }
    }
  }
}

.small-icon-wrapper {
  margin-right: 10px;
  text-align: center;
}

p.discount-icon {
  font-size: 22px;
  font-weight: bold;
}

.small-icon-wrapper i {
  font-size: 30px;
  font-weight: bold;
}

h1.product-title {
  font-size: 25px;
  color: $lblue;
  margin: 0 0 20px 0;
}

.product-price {
  .product-fake-price {
    p {
      text-decoration: line-through;
      font-size: 14px;
      color: $mgray;
    }
  }

  .product-real-price {
    font-size: 30px;
    color: $gray;
  }
}

.social-bar-icons {
  a.social-net {
    color: $gray;
  }
  i {
    font-size: 35px;
    padding: 0 4px;
  }
  span {
    vertical-align: super;
  }
  a.social-net:hover {
    color: $lblue;
  }
}

a.pdf-link {
  color: $gray;
  .fa-file-pdf-o:before {
    font-size: 18px;
    color: $red;
  }
}

.pdf-price {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 3px 5px;
  margin-left: 5px;
  font-weight: bold;
}

.product-button {
  width: 100%;
  i {
    font-size: 24px;
    vertical-align: sub;
    color: $yellow;
  }
  input {
    width: 55px;
  }
}

button.blog-button {
  padding: 0;
  a {
    color: $white;
    display: block;
    padding: 6px 20px;
    &:hover {
      text-decoration: none;
      color: $white;
    }
  }
}

.product-button:hover {
  background: $lblue;
}

.product-slider-caption {
  background: $blue;
  text-align: center;
  h3 {
    line-height: 24px;
    color: $white;
    font-size: 16px;
    margin: 0;
  }
}

i.fa.fa-book {
  font-size: 11px;
}

.blog-attributes-wrapper {
  div {
    display: inline-block;
    padding: 0 10px;
  }

  div:nth-child(2) {
    border-left: 1px solid $gray;
    border-right: 1px solid $gray;
  }
}

.blog-menu {
  h3 {
    background: $lblue;
    color: $white;
    padding: 20px 0;
  }
}

.contact-form-wrapper {
  padding: 20px 0;
  display: inline-block;
  .address-info {
    p {
      margin: 0;
      i {
        margin-right: 10px;
      }
    }
    .address-text {
      height: 200px;
      padding: 45px;
      margin: 0 auto;
      display: table;
      position: relative;
    }
  }
}

/***  nice Accordeon ***/

.accordion {
  display: block;
  position: relative;
  width: 100%;
}

.accordion__item {
  display: block;
  width: 100%;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.accordion__title {
  display: block;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0px 50px 0 20px;
  color: #333;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  transition: background-color .2s;

  &:hover {
    background-color: #fafafa;
  }

  &.active {
    background: $lblue;
    color: $white;

    & .x7 {
      transform: rotate(-90deg);

      & .btop {
        width: 67%;
        top: 2px;
        transform: translateY(-50%) rotate(-45deg);
        transform-origin: 50% 50%;
        background-color: $white;
      }
      & .bmid {
        opacity: 0;
        background-color: $white;
      }
      & .bbot {
        width: 67%;
        bottom: 2px;
        transform: translateY(50%) rotate(45deg);
        transform-origin: 50% 50%;
        background-color: $white;
      }
    }
  }
}

.accordion__content {
  display: none;
  position: relative;
  overflow: hidden;
  border: 1px solid #eee;
  border-top: none;
  line-height: 1.65;
  background-color: transparent;
}

// --- Icon ---
.bmenu {
  width: 26px;
  height: 16px;
  display: block;
  position: absolute;
  right: 15px;
  top: 12px;
}

.btop, .bmid, .bbot {
  right: 0;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #333;
  border-radius: 1px;
}

.btop {
  width: 40%;
}

.bmid {
  width: 60%;
}

.bbot {
  width: 80%;
}

.x7 {
  transition: transform .3s ease-out;
  transform-origin: 60% 75%;

  & .btop {
    top: 0;
    transition: width .3s, transform .3s, top .0s;
    transition-timing-function: ease-out;
  }

  & .bmid {
    top: calc(50% - 1px);
    transform-origin: 100% 50%;
    transition: opacity .1s;
    transition-timing-function: ease-out;
  }

  & .bbot {
    bottom: 0;
    transition: width .3s, transform .3s, bottom .0s;
    transition-timing-function: ease-out;
  }
}

.card-item-preview {
  float: left;
  .price {
    font-size: 18px;
  }
}

a.edit-block-link {
  margin-top: 25px;
  margin-left: 25px;
  float: left;
}

.payment-info {
  position: relative;
  i {
    position: absolute;
    top: 25px;
    right: 15px;
    font-size: 20px;
    color: $gray;
  }
  i:active, i:hover {
    color: $blue;
  }
}

.shipping-steps a.accordion__title {
  color: $blue;
}

.shipping-steps a.accordion__title.active {
  color: $white;
}

.shipping.information {
  position: relative;
  padding: 20px;
  border: 1px solid $blue;
  font-size: 13px;
  i {
    position: absolute;
    top: 0;
    right: 0;
    color: $white;
    background: $blue;
    padding: 5px;
  }
}

.dashboard-block {
  span {

    vertical-align: text-top;
    margin-left: 10px;
  }
  h3 {
    float: left;
    margin-bottom: 15px;
    margin-top: 0;
  }
  img {
    min-height: 125px;
  }
}

.divTable {
  display: table;
  width: 100%;
}

.divTableRow {
  display: table-row;
}

.divTableHeading {
  background-color: $white;
  display: table-header-group;
}

.divTableCell, .divTableHead {
  border-bottom: 2px solid $lgray;
  display: table-cell;
  padding: 10px;
}

.divTableHeading {
  background-color: $white;
  display: table-header-group;
  font-weight: bold;
}

.divTableFoot {
  background-color: $white;
  display: table-footer-group;
  font-weight: bold;
}

.divTableBody {
  display: table-row-group;
}

.dashboard-menu {
  a {
    display: block;
    padding: 4px 10px;
    position: relative;
    color: $gray;
    -webkit-transition: all .1s ease-in-out 0s;
    -moz-transition: all .1s ease-in-out 0s;
    -o-transition: all .1s ease-in-out 0s;
    transition: all .1s ease-in-out 0s;
  }
  a:hover {
    text-decoration: none;
    color: $blue;
    font-weight: bold;
  }
  a:hover:before {
    visibility: visible;
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }
  a:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 28px;
    top: 0;
    left: -15px;
    background-color: $blue;
    visibility: hidden;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
  }
}

.dashboard {
  p {
    margin-bottom: 0px;
  }
  .block-info-title {
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.relative {
  position: relative;
}

.cart-item {
  i {
    color: $gray;

  }
  i:hover, i:active {
    color: $blue;
  }
  i.fa.fa-pencil {
    position: absolute;
    bottom: 20px;
    font-size: 25px;
    right: 30px;
  }
  i.fa.fa-trash-o {
    position: absolute;
    bottom: 20px;
    font-size: 25px;
  }
}

.item-description p {
  margin: 0;
}

.univer-label {
  color: $blue;
  font-weight: bold;
}

.univer-letter {
  background: $lblue;
  padding: 15px 0;
  .univer-words {
    color: $white;
    //padding:0 15px;
    p {
      margin: 0;
      color: $white;

    }
  }
}

.letter {
  display: inline-block;
  margin: 5px;
  text-align: center;
  a {
    display: inline-block;
    padding: 3px 10px;
    float: left;
    text-transform: uppercase;
    font-size: 18px;
    /* margin: 7px; */
    background: $lgray;
    color: $mgray;

    font-weight: bold;
  }
}

.dictionary-block-title {
  h3 {
    margin: 0;
  }
}

.tabbed {
  //width: 700px;
  //margin: 50px auto;
}

.tabbed > input {
  display: none;
}

.tabbed > label {
  display: block;
  float: left;
  padding: 12px 20px;

  cursor: pointer;
  transition: background-color .3s;
  margin: 0;
  color: $gray;
  width: 33%;
  text-align: center;
  background: $lgray;
}

.tabbed > label:hover,
.tabbed > input:checked + label {
  background: $blue;
  color: $white;
}

.tabss {
  clear: both;
  perspective: 600px;
}

.tabss > div {
  width: 100%;
  position: absolute;
  border: 1px solid $bgray;
  padding: 10px 30px 40px;
  line-height: 1.4em;
  opacity: 0;
  transform: rotateX(-20deg);
  transform-origin: top center;
  transition: opacity .3s, transform 1s;
  z-index: 0;
}

#tab-nav-1:checked ~ .tabss > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabss > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabss > div:nth-of-type(3),
#tab-nav-4:checked ~ .tabss > div:nth-of-type(4) {
  transform: rotateX(0);
  opacity: 1;
  z-index: 1;
}

@media screen and (max-width: 700px) {
  .tabbed {
    width: 100%;
  }
  .tabbed > label {
    display: none
  }
  .tabss > div {
    width: 100%;
    border: none;
    padding: 0;
    opacity: 1;
    position: relative;
    transform: none;
    margin-bottom: 60px;
  }
  .tabss > div h2 {
    border-bottom: 2px solid $lblue;
    padding-bottom: .5em;
  }
}

.staff-image {
  background: $blue;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  margin: 0 auto;
  text-align: center;
  i:before {
    font-size: 35px;
    color: white;
    margin-left: 0;
  }
}

.icon-title {
  color: $blue;
  font-size: 12px;
}

.featured-menu {
  padding-bottom: 0;
  h3 {
    padding: 5px 0;
  }
  li {
    a {
      padding: 10px 0;
      display: block;

      color: $white;

    }
    border-bottom: 1px dotted $white;
    &:last-child {
      border: none;
    }
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  margin-left: 0 !important;
}

.product-sidebar-block {
  border: 2px solid $lblue;
  i:before {
    font-size: 60px;
    float: left;
    margin-right: 20px;
    color: $blue;
  }
  span {
    margin-top: 10px;
    display: block;
    font-size: 16px;
    color: $lblue;
    text-align: center;
  }
}
