    /*
    Flaticon icon font: Flaticon
    Creation date: 27/07/2018 10:14
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-equalizer:before { content: "\f100"; }
.flaticon-search:before { content: "\f101"; }
.flaticon-clipboard-with-pencil:before { content: "\f102"; }
.flaticon-talk:before { content: "\f103"; }
.flaticon-architect-with-helmet:before { content: "\f104"; }
.flaticon-invoice:before { content: "\f105"; }
.flaticon-secretary:before { content: "\f106"; }
.flaticon-ruler-and-pencil:before { content: "\f107"; }
.flaticon-multi-skills-employee:before { content: "\f108"; }
.flaticon-cap:before { content: "\f109"; }
.flaticon-resume-1:before { content: "\f10a"; }
.flaticon-worker-1:before { content: "\f10b"; }
.flaticon-students-cap:before { content: "\f10c"; }
.flaticon-supermarket:before { content: "\f10d"; }
.flaticon-view:before { content: "\f10e"; }
.flaticon-woman:before { content: "\f10f"; }
.flaticon-working:before { content: "\f110"; }
.flaticon-hand-shake:before { content: "\f111"; }
.flaticon-desk:before { content: "\f112"; }
.flaticon-support:before { content: "\f113"; }
.flaticon-worker:before { content: "\f114"; }
.flaticon-judge:before { content: "\f115"; }
.flaticon-resume:before { content: "\f116"; }
.flaticon-sales:before { content: "\f117"; }
.flaticon-briefcase:before { content: "\f118"; }
.flaticon-certificate:before { content: "\f119"; }
.flaticon-user:before { content: "\f11a"; }
.flaticon-pc-smartphone:before { content: "\f11b"; }
.flaticon-pamphlet:before { content: "\f11c"; }
    
    $font-Flaticon-equalizer: "\f100";
    $font-Flaticon-search: "\f101";
    $font-Flaticon-clipboard-with-pencil: "\f102";
    $font-Flaticon-talk: "\f103";
    $font-Flaticon-architect-with-helmet: "\f104";
    $font-Flaticon-invoice: "\f105";
    $font-Flaticon-secretary: "\f106";
    $font-Flaticon-ruler-and-pencil: "\f107";
    $font-Flaticon-multi-skills-employee: "\f108";
    $font-Flaticon-cap: "\f109";
    $font-Flaticon-resume-1: "\f10a";
    $font-Flaticon-worker-1: "\f10b";
    $font-Flaticon-students-cap: "\f10c";
    $font-Flaticon-supermarket: "\f10d";
    $font-Flaticon-view: "\f10e";
    $font-Flaticon-woman: "\f10f";
    $font-Flaticon-working: "\f110";
    $font-Flaticon-hand-shake: "\f111";
    $font-Flaticon-desk: "\f112";
    $font-Flaticon-support: "\f113";
    $font-Flaticon-worker: "\f114";
    $font-Flaticon-judge: "\f115";
    $font-Flaticon-resume: "\f116";
    $font-Flaticon-sales: "\f117";
    $font-Flaticon-briefcase: "\f118";
    $font-Flaticon-certificate: "\f119";
    $font-Flaticon-user: "\f11a";
    $font-Flaticon-pc-smartphone: "\f11b";
    $font-Flaticon-pamphlet: "\f11c";