	/*
  	Flaticon icon font: Flaticon
  	Creation date: 27/07/2018 10:14
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-equalizer:before { content: "\f100"; }
.flaticon-search:before { content: "\f101"; }
.flaticon-clipboard-with-pencil:before { content: "\f102"; }
.flaticon-talk:before { content: "\f103"; }
.flaticon-architect-with-helmet:before { content: "\f104"; }
.flaticon-invoice:before { content: "\f105"; }
.flaticon-secretary:before { content: "\f106"; }
.flaticon-ruler-and-pencil:before { content: "\f107"; }
.flaticon-multi-skills-employee:before { content: "\f108"; }
.flaticon-cap:before { content: "\f109"; }
.flaticon-resume-1:before { content: "\f10a"; }
.flaticon-worker-1:before { content: "\f10b"; }
.flaticon-students-cap:before { content: "\f10c"; }
.flaticon-supermarket:before { content: "\f10d"; }
.flaticon-view:before { content: "\f10e"; }
.flaticon-woman:before { content: "\f10f"; }
.flaticon-working:before { content: "\f110"; }
.flaticon-hand-shake:before { content: "\f111"; }
.flaticon-desk:before { content: "\f112"; }
.flaticon-support:before { content: "\f113"; }
.flaticon-worker:before { content: "\f114"; }
.flaticon-judge:before { content: "\f115"; }
.flaticon-resume:before { content: "\f116"; }
.flaticon-sales:before { content: "\f117"; }
.flaticon-briefcase:before { content: "\f118"; }
.flaticon-certificate:before { content: "\f119"; }
.flaticon-user:before { content: "\f11a"; }
.flaticon-pc-smartphone:before { content: "\f11b"; }
.flaticon-pamphlet:before { content: "\f11c"; }